.homepage {
    text-align: center;
    margin-top: 100px;
}

.add-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
}

.custom-dialog-container {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0 !important;


}